{\rtf1\ansi\ansicpg1252\cocoartf2867
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 Core scientific stack\
numpy==1.26.4\
pandas==2.0.3\
scipy>=1.10.0\
\
ECG & biomedical signal processing\
wfdb==4.1.2\
neurokit2==0.2.7\
\
Machine learning\
scikit-learn>=1.3.0\
\
Explainable AI\
shap>=0.44.0\
\
Visualisation\
matplotlib>=3.8.0\
seaborn>=0.13.0\
\
Notebooks\
jupyter\
ipykernel\
}